	<div class="author-page author vcard inline-items more header-vcard">
				<div class="author-thumb">
					<img alt="author" src="{{'assets/img/author-page.jpg'|theme}}" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your Account</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="{{'profilo'|page(false)}}">

										<i class="fa fa-cog"></i>

										<span>Profile Settings</span>
									</a>
								</li>
								<li>
									<a href="{{'contatti'|page(false)}}">
										<i class="fa fa-bars"></i>

										<span>Create Fav Page</span>
									</a>
								</li>
								<li>
									<a href="#">
											<i class="fa fa-sign-out"></i>
										<span>Log Out</span>
									</a>
								</li>
							</ul>

						</div>

					</div>
				</div>
				<div class="login-link">
					<a href="{{'login'|page(false)}}" class="post__author-name fn"> Login </a>
				</div>
				
			</div>
