<div class="news-feed-form">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

				<i class="fa fa-star"></i>

				<span>Status</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link inline-items" data-toggle="tab" href="#profile-1" role="tab" aria-expanded="false">

				<i class="fa fa-music"></i>

				<span>Multimedia</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link inline-items" data-toggle="tab" href="#blog" role="tab" aria-expanded="false">
				<i class="fa fa-comment"></i>
				<span>Blog Post</span>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
			<form>
				<div class="author-thumb">
					<img src="{{'assets/img/author-page.jpg'|theme}}" alt="author">
				</div>
				<div class="form-group with-icon label-floating is-empty">
					<label class="control-label">Share what you are thinking here...</label>
					<textarea class="form-control" placeholder=""></textarea>
				</div>
				<div class="add-options-message">
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
						<i class="fa fa-camera"></i>
					</a>
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
						<i class="fa fa-laptop"></i>
					</a>

					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
						<i class="fa fa-thumb-tack"></i>
					</a>

					<button class="btn btn-primary btn-md-2">Post Status</button>
					<button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

				</div>

			</form>
		</div>

		<div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
			<form>
				<div class="author-thumb">
					<img src="{{'assets/img/author-page.jpg'|theme}}" alt="author">
				</div>
				<div class="form-group with-icon label-floating is-empty">
					<label class="control-label">Share what you are thinking here...</label>
					<textarea class="form-control" placeholder=""  ></textarea>
				</div>
				<div class="add-options-message">
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
						<i class="fa fa-camera"></i>
					</a>
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
						<i class="fa fa-laptop"></i>
					</a>

					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
						<i class="fa fa-thumb-tack"></i>
					</a>

					<button class="btn btn-primary btn-md-2">Post Status</button>
					<button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

				</div>

			</form>
		</div>

		<div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
			<form>
				<div class="author-thumb">
					<img src="{{'assets/img/author-page.jpg'|theme}}" alt="author">
				</div>
				<div class="form-group with-icon label-floating is-empty">
					<label class="control-label">Share what you are thinking here...</label>
					<textarea class="form-control" placeholder=""  ></textarea>
				</div>
				<div class="add-options-message">
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
						<i class="fa fa-camera"></i>
					</a>
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
						<i class="fa fa-laptop"></i>
					</a>

					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
						<i class="fa fa-thumb-tack"></i>
					</a>

					<button class="btn btn-primary btn-md-2">Post Status</button>
					<button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

				</div>

			</form>
		</div>
	</div>
</div>