
<link
    href="{{ [
        'assets/Bootstrap/dist/css/bootstrap-reboot.css',
        'assets/Bootstrap/dist/css/bootstrap.css',
        'assets/Bootstrap/dist/css/bootstrap-grid.css',
        'assets/css/theme-styles.css',
        'assets/css/blocks.css',
        'assets/css/bootstrap-select.css',
        'assets/css/fonts.css',
        'assets/css/jquery.mCustomScrollbar.min.css',
        'assets/css/mediaelement-playlist-plugin.min.css',
        'assets/css/mediaelementplayer.css',
        'assets/css/magnific-popup.css',
        'assets/css/reaction.css',
        'assets/css/simplecalendar.css',
        '~/modules/system/assets/css/framework.extras.css'
        ]|theme }}"
    rel="stylesheet">
    
    

