<article class="hentry post">

	<div class="post__author author vcard inline-items">
		<img src="{{'assets/img/author-page.jpg'|theme}}" alt="author">
		
		{% partial 'author-date/default'%}
		

		<div class="more"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
		accusantium doloremque.
	</p>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<i class="fa fa-heart-o" aria-hidden="true"></i>
			<span>8</span>
		</a>

		{% partial 'friends-armonic/default'%}

		<div class="names-people-likes">
			<a href="#">Jenny</a>, <a href="#">Robert</a> and
			<br>6 more liked this
		</div>


		{% partial 'comment-shared/default'%}

	</div>

		{% partial 'comment-buttons/default'%}
	

</article>