<article class="hentry post">

	<div class="post__author author vcard inline-items">
		<img src="{{'assets/img/author-page.jpg'|theme}}" alt="author">
		
		{% partial 'author-date/default'%}

	</div>

	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
		accusantium doloremque.
	</p>

	<div class="post-additional-info inline-items">
 
		
 		
		{% partial 'like-reactions/default'%}
		
		{% partial 'friends-armonic/default'%}
		
		{% partial 'comment-shared/default'%}
		
		
	</div>

		{% partial 'comment-buttons/default'%}
	
</article>