<div class="col-xl-4 pull-xl-8 col-lg-4 pull-lg-8 col-md-12 col-sm-12 col-xs-12">
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">About Us</h6>
			<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
		</div>
		<div class="ui-block-content">
			<ul class="widget w-personal-info">
				 
				<li>
					<span class="title">Address:</span>
					<span class="text">San Francisco, California, USA</span>
				</li>
				 
				<li>
					<span class="title">Email:</span>
					<a href="#" class="text">jspiegel@yourmail.com</a>
				</li>
				<li>
					<span class="title">Website:</span>
					<a href="#" class="text">daydreamsagency.com</a>
				</li>
				<li>
					<span class="title">Phone Number:</span>
					<span class="text">(044) 555 - 4369 - 8957</span>
				</li>
				<li>
					<span class="title">Religious Belifs:</span>
					<span class="text">-</span>
				</li>
				<li>
					<span class="title">Political Incline:</span>
					<span class="text">Democrat</span>
				</li>
			</ul>

			<div class="widget w-socials">
				<h6 class="title">Other Social Networks:</h6>
				<a href="#" class="social-item bg-facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					Facebook
				</a>
				<a href="#" class="social-item bg-twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					Twitter
				</a>
				<a href="#" class="social-item bg-dribbble">
					<i class="fa fa-dribbble" aria-hidden="true"></i>
					Dribbble
				</a>
			</div>
		</div>
	</div>
</div>