title = "bacheca"
url = "/bacheca"
layout = "default"
is_hidden = 0
==

{% partial 'top-header/default'%}

<div class="container">
	<div class="row">

		<!-- Main Content -->
         
        <div class="container">
           <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   {% partial 'post-search/default'%}
               </div>
           </div>
        </div>
        
        
        <!-- Main Content Blog Posts -->
        
        <div class="container">
           <div class="row">
               {% for i in 0..1 %}
               
               <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   {% for i in 0..1 %}
				   
	                   <div class="ui-block"> 
	                      {% partial 'post/default'%} 
	                   </div>
				   {% endfor %}
               </div>
        
              {% endfor %}
        
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <a href="#" class="btn btn-control btn-more"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
               </div>
           </div>
        </div>
        
        <!-- ... end Main Content Blog Posts -->
         
         
        <!-- ... end Main Content -->
    </div>
</div>