
<div class="calendar-container">
<div class="calendar">
	<header>
		<h6 class="month">March 2017</h6>
		<a class="calendar-btn-prev fontawesome-angle-left" href="#"></a>
		<a class="calendar-btn-next fontawesome-angle-right" href="#"></a>
	</header>
	<table>
		<thead>
		<tr><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td><td>San</td></tr>
		</thead>
		<tbody>
		<tr>
			<td date-month="12" date-day="1">1</td>
			<td date-month="12" date-day="2" class="event-uncomplited event-complited">
				2
			</td>
			<td date-month="12" date-day="3">3</td>
			<td date-month="12" date-day="4">4</td>
			<td date-month="12" date-day="5">5</td>
			<td date-month="12" date-day="6">6</td>
			<td date-month="12" date-day="7">7</td>
		</tr>
		<tr>
			<td date-month="12" date-day="8">8</td>
			<td date-month="12" date-day="9">9</td>
			<td date-month="12" date-day="10" class="event-complited">10</td>
			<td date-month="12" date-day="11">11</td>
			<td date-month="12" date-day="12">12</td>
			<td date-month="12" date-day="13">13</td>
			<td date-month="12" date-day="14">14</td>
		</tr>
		<tr>
			<td date-month="12" date-day="15" class="event-complited-2">15</td>
			<td date-month="12" date-day="16">16</td>
			<td date-month="12" date-day="17">17</td>
			<td date-month="12" date-day="18">18</td>
			<td date-month="12" date-day="19">19</td>
			<td date-month="12" date-day="20">20</td>
			<td date-month="12" date-day="21">21</td>
		</tr>
		<tr>
			<td date-month="12" date-day="22">22</td>
			<td date-month="12" date-day="23">23</td>
			<td date-month="12" date-day="24">24</td>
			<td date-month="12" date-day="25">25</td>
			<td date-month="12" date-day="26">26</td>
			<td date-month="12" date-day="27">27</td>
			<td date-month="12" date-day="28" class="event-uncomplited">28</td>
		</tr>
		<tr>
			<td date-month="12" date-day="29">29</td>
			<td date-month="12" date-day="30">30</td>
			<td date-month="12" date-day="31">31</td>
		</tr>
		</tbody>
	</table>
	     
</div>
</div>