<div class="control-block-button post-control-button">

	<a href="{{'singolo-post'|page({id:5})}}" class="btn btn-control featured-post">
		<i class="fa fa-eye" data-toggle="tooltip" data-placement="right" data-original-title="vedi post" aria-hidden="true"></i>
	</a>

	<a href="#" class="btn btn-control">
		<i class="fa fa-heart-o" aria-hidden="true"></i>
	</a>

	<a href="#" class="btn btn-control">
		<i class="fa fa-comment-o" aria-hidden="true"></i>
	</a>

	<a href="#" class="btn btn-control">
		<i class="fa fa-pencil" data-toggle="tooltip" data-placement="right" data-original-title="contribuisci" aria-hidden="true"></i> 
	</a>

</div>